{% extends "base.html" %}

{% block content %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Messages</h1>
    <p class="lead font-weight-normal">All your messages  in one page </p>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-success" style="width: 100px" href="/login">Login</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-primary" style="width: 100px" href="/signup">Signup</a>
        </div>
    </div>
</div>
<div class="col-md-5 p-lg-5 mx-auto my-5">

</div>
{% endblock %}