{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

 <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
       <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">New Message</h6>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }} .
                        </div>
                    {% endif %}
                {% endwith %}

            <form action="{{ url_for("message.send_message") }}" method="POST" >

                {% for field, errors in formMesaage.errors.items() %}
                    <div class="alert alert-danger">
                        {{ formMesaage[field].label }}: {{ ', '.join(errors) }}
                    </div>
                {% endfor %}

                <div class="form-group">
                    {{ formMesaage.to(class="form-control",placeholder="Email the user to send message" ,type="email",value=email) }}
                </div>

                <div class="form-group">
                    {{ formMesaage.title(class="form-control",placeholder="Tittle" ,type="text" ) }}
                </div>

                <div class="form-group">
                    {{ formMesaage.body(class="form-control",placeholder="Message" ,type="text") }}
                </div>

                {{ formMesaage.author_id(value= user.id) }}

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Send</button>
                </div>
            </form>

       </div>

    </div>
</div>
{% endblock %}